@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Stoke&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
.header{
    display: flex;
    background: #3B065E;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
  }
body {
    
    background: linear-gradient(180deg, rgba(156, 56, 255, 0.8) 0.68%, rgba(18, 0, 35, 0.8) 98.39%);
}

.logo-header {
  height: 75px;
}

.header-menu {
    display: flex;
    gap: 32px;
}
.menu-item{
    font-family: 'Stoke', serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px
}

.main-page {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}
.main-section{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.container{
    display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.container-titulo{
    font-family: 'Playfair Display', serif;
    font-size:96px;
    color: rgba(59, 6, 94, 0.8);
    -webkit-text-stroke: 1px solid #9F8EB0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.4px solid #FFF2E7;
}
.container-subtitulo{
    font-family: 'Playfair Display', serif;
    font-size:40px;
    color: rgba(59, 6, 94, 0.8);
    -webkit-text-stroke: 1px solid #9F8EB0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.4px solid #FFF2E7;
}
.img-bot{
    height:500px;
    border-radius: 50%;
}
.sec-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}


.sec-section-title{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2EF;
    margin-bottom: 16px;
}
.paragrafo{
    font-family: 'Stoke', serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
}
.footer {
    background: #3B065E;
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.logo-footer {
    display: block;
    margin: 0 auto;
    height: 95px;
    weight: 95px;
  }